<?xml version="1.0" encoding="utf-8" ?>
<!--
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
  <appSettings>

  </appSettings>

  <connectionStrings>
    <add name="SCMEntity" connectionString="data source=VIVEK-OFFICELAP\MSSQLSERVER2016;initial catalog=TestSCM;persist security info=True;user id=sa;password=123@T123;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
